backend:
  name: git-gateway
  branch: main 

media_folder: "static/images"
public_folder: "/images"

site_url: "https://ssgtest2.netlify.app/" # depois atualiza com a URL do Netlify

collections:
  - name: "pages"
    label: "Páginas"
    folder: "content"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Título", name: "title", widget: "string" }
      - { label: "Conteúdo", name: "body", widget: "markdown" }
